<div class="center jumbotron">
  <div class="text-center">
    <h1>ようこそ!!<br>メニキャラへ</h1>
    <div class="card mt-5">
    <div class="card-header">
        メニキャラとは？
    </div>
    <div class="card-body">
        <p class="mb-3 mt-3">現代社会においてマスメディアの影響から<br></p>
        <p class="mb-3 mt-3">キャラが固定化されてしまい窮屈に感じることはありませんか？<br></p>
        <p class="mb-3 mt-3">そこでこのメニキャラではキャラは固定化しなくてもいい（many_character）<br></p>
        <p class="mb-3 mt-3">という意味のもと楽しくチャットを楽しもうというサービスです。</p>
    </div>
</div>
  </div>
</div>
